.scallopred {
    --r: 20px; /* radius of circles */
    height: 14rem;
    margin: 3rem;
    aspect-ratio: 1;
    padding: calc(1.5*var(--r));
    background: #F24D30;
    color:#F24D30;
    mask: 
      linear-gradient(#000 0 0) no-repeat
       50%/calc(100% - 2*var(--r)) calc(100% - 2*var(--r)), 
      radial-gradient(farthest-side,#000 97%,#0000) 
       0 0/calc(2*var(--r)) calc(2*var(--r)) round;
  }

.scallopgreen {
    --r: 20px; /* radius of circles */
    height: 14rem;
    margin: 3rem;
    aspect-ratio: 1;
    padding: calc(1.5*var(--r));
    background: #72A944;
    color:  #72A944;
    mask: 
      linear-gradient(#000 0 0) no-repeat
       50%/calc(100% - 2*var(--r)) calc(100% - 2*var(--r)), 
      radial-gradient(farthest-side,#000 97%,#0000) 
       0 0/calc(2*var(--r)) calc(2*var(--r)) round;
  }

.scallopmix {
    --r: 20px; /* radius of circles */
    height: 14rem;
    margin: 3rem;
    aspect-ratio: 1;
    padding: calc(1.5*var(--r));
    background:#F67C01;
    color:#F67C01;
    mask: 
      linear-gradient(#000 0 0) no-repeat
       50%/calc(100% - 2*var(--r)) calc(100% - 2*var(--r)), 
      radial-gradient(farthest-side,#000 97%,#0000) 
       0 0/calc(2*var(--r)) calc(2*var(--r)) round;
  }

