@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL&family=Manrope:wght@400;700&family=Questrial&display=swap');
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-mandarin: #F67C01;
  --font-playwrite: Playwrite NL, sans-serif;
  --font-manrope: Manrope, sans-serif;
  --font-questrial: Questrial, sans-serif;
}

:root {
  background: #FFFBF0
}