@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL&family=Manrope:wght@400;700&family=Questrial&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;

@theme {
  --color-*: initial;
  --color-mandarin: #F67C01;
  --color-red: #F24D30;
  --color-green: #72A944;
  --color-beige:#FFFBF0;
  --color-brown:#874503;
  --font-playwrite: Playwrite NL, sans-serif;
  --font-manrope: Manrope, sans-serif;
  --font-questrial: Questrial, sans-serif;
}

:root {
  background: #FFFBF0;
  
}

body{
  height: 100vh;
  overflow: hidden;
}


@tailwind utilities;